/* stylelint-disable declaration-no-important */

.LevelPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.contents {
  height: calc(100vh - 4em);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caveInformation {
  min-height: 300px;
  margin-bottom: 1em;
}
