@import 'src/palette.css';

.CaveDimensionsInput {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0.5em;
  font-size: 0.9em;
  font-weight: normal;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 3em;
}

.rebuildButton,
.saveButton {
  width: 10em;
  height: 2.57em;
  margin-top: 1.75em;
  margin-left: 1em;
  margin-right: auto;
  color: white;
}

.rebuildButton {
  background-color: var(--alizarin-crimson) !important; /* stylelint-disable-line declaration-no-important */
}

.saveButton {
  background-color: var(--cornflower-blue) !important; /* stylelint-disable-line declaration-no-important */
}
