.CaveDimensionsInput {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 0.5em;
  font-size: 0.9em;
  font-weight: normal;
}

.button {
  width: 10em;
  height: 2.57em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: #567cde !important; /* stylelint-disable-line declaration-no-important */
  color: white;
}
