/* stylelint-disable declaration-no-important */

.EditorPage {
  display: flex;
  flex-direction: column;
}

.editor {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.editorControls {
  width: 22%;
  max-height: calc(100vh - 4.3em);
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.grid {
  width: 78%;
}

.dimensions {
  margin-bottom: 1em;
}
