.EditorPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.editorControls {
  width: 18%;
  height: 100%;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.grid {
  width: 82%;
}

.dimensions {
  margin-bottom: 1em;
}

.brushSize {
  margin-top: 0.5em;
}
