.EditorPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: black;
}

.editorControls {
  width: 18%;
  height: 100%;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.grid {
  width: 82%;
}

.dimensions {
  margin-bottom: 1em;
}

.brushSize {
  margin-top: 0.5em;
}

.undoRedoContainer {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.playButton,
.undoRedoButton {
  background-color: #567cde !important; /* stylelint-disable-line declaration-no-important */
  color: white;
}

.playButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playButton {
  width: 10em;
}
