@import 'src/palette.css';

.modal {
  width: 20em;
  height: 29em;
  padding-top: 2.5em;
}

.modalContents {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.openButton {
  width: 8em;
  height: 2.57em;
  color: white;
  margin: 1em;
  padding-left: 0.5em !important; /* stylelint-disable-line declaration-no-important */
  padding-right: 0.5em !important; /* stylelint-disable-line declaration-no-important */
  background-color: var(--cornflower-blue) !important; /* stylelint-disable-line declaration-no-important */
}

.tile {
  width: 3em;
  height: 3em;
  border: solid 3px black;
  display: block;
}

.imageCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.actionTable {
  border-collapse: collapse;

  & > tbody {
    & > :not(:first-child) {
      & > * {
        border-left: 1pt solid black;
        border-right: 1pt solid black;
      }
    }
  }
}

.actionTile {
  max-width: 9em;
}

.cell {
  text-align: center;
  padding-bottom: 1em;
}

.title {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}

.actionDividerRow {
  border-bottom: 1pt solid black;
}

.regionIcon {
  background-color: black;
}
