@import 'src/palette.css';

.Navbar {
  width: 100%;
  height: 4em;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.left,
.right {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.newCave {
  width: 8em;
  height: 2.57em;
  margin: 1em;
  padding-left: 1em !important; /* stylelint-disable-line declaration-no-important */
  padding-right: 1em !important; /* stylelint-disable-line declaration-no-important */
  background-color: #567cde !important; /* stylelint-disable-line declaration-no-important */
  color: white;
}

.myCaves {
  margin: 1em;
  width: 20%;
}

.button {
  width: 8em;
  height: 2.57em;
  color: white;
  margin: 1em;
  padding-left: 0.5em !important; /* stylelint-disable-line declaration-no-important */
  padding-right: 0.5em !important; /* stylelint-disable-line declaration-no-important */
  background-color: var(--cornflower-blue) !important; /* stylelint-disable-line declaration-no-important */
}
