@import 'src/palette.css';

.modal {
  width: 20em;
  height: 20em;
  padding-top: 1.75em;
}

.immutableProperty {
  margin-bottom: 0.5em;
  font-size: 0.8em;
  font-weight: normal;
}

.modalContents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 0.5em;
  font-size: 0.9em;
  font-weight: normal;
}

.content {
  width: 12em;
}
