.Palette {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tiles {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile {
  width: calc(3.6vw - 2px);
  height: calc(3.6vw - 2px);
  border: solid 3px black;
  display: block;

  &:hover {
    border: solid 3px white;
  }
}
