.Palette {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tiles {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile,
.selectedTile {
  width: 2.4vw;
  height: 2.4vw;
  display: block;

  &:hover {
    border: solid 3px white;
  }
}

.tile {
  border: solid 3px black;
}

.selectedTile {
  border: solid 3px gold;
}

.title {
  margin-bottom: 0.15em;
  color: white;
  font-size: 0.8125em;
  font-weight: normal;
}
