@import 'src/palette.css';

.modal {
  width: 20em;
  height: 29em;
  padding-top: 1.75em;
}

.privateModal {
  width: 20em;
  height: 24em;
  padding-top: 1.75em;
}

.reducedModal {
  width: 20em;
  height: 7em;
  padding-top: 1.75em;
}

.immutableProperty {
  margin-bottom: 0.5em;
  font-size: 0.8em;
  font-weight: normal;
}

.modalContents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.openButton {
  width: 8em;
  height: 2.57em;
  color: white;
  margin: 1em;
  padding-left: 0.5em !important; /* stylelint-disable-line declaration-no-important */
  padding-right: 0.5em !important; /* stylelint-disable-line declaration-no-important */
  background-color: var(--cornflower-blue) !important; /* stylelint-disable-line declaration-no-important */
}

.title {
  margin-bottom: 0.5em;
  font-size: 0.9em;
  font-weight: normal;
}

.content {
  width: 12em;
}

.like {
  width: 2em;
  height: 2em;
}

.like:hover {
  animation: pop 0.3s ease-in;
}

@keyframes pop {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -3px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.likesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.likesValue {
  padding-left: 0.75em;
  font-weight: normal;
}
