@import '../../viewport.css';

body { /* stylelint-disable-line selector-no-type */
  background-color: black;
  overflow-y: hidden;
}

.App {
  z-index: 0;

  min-height: 100vh;
  min-width: 100%;

  background-color: black;

  &.withTopNav {
    padding-top: 3.625em;
  }

  @media (--small-screen) {
    &.withBottomNav {
      padding-bottom: 3em;
    }
  }
}

.page {
  min-height: 100vh;
  min-width: 100%;

  @nest .App.withTopNav > & {
    min-height: calc(100vh - 3.625em);
  }

  @media (--small-screen) {
    @nest .App.withBottomNav > & {
      min-height: calc(100vh - 6.625em);
    }
  }
}

.spinnerContainer {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 6em;
  height: 6em;
  margin-bottom: 1em;
}
