@import 'src/palette.css';

.modal {
  width: 20em;
  height: 12em;
  padding-top: 1.75em;
}

.modalContents {
  padding-left: 1.75em;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.openButton,
.saveButton,
.logoutButton {
  width: 8em;
  height: 2.57em;
  color: white;
}

.openButton {
  margin: 1em;
}

.saveButton,
.logoutButton {
  margin-top: 1.75em;
  margin-left: 1em;
}

.openButton,
.saveButton {
  background-color: var(--cornflower-blue) !important; /* stylelint-disable-line declaration-no-important */
}

.logoutButton {
  background-color: var(--alizarin-crimson) !important; /* stylelint-disable-line declaration-no-important */
}

.title {
  margin-bottom: 0.5em;
  font-size: 0.9em;
  font-weight: normal;
}
