.LearnPage {
  display: flex;
  flex-direction: column;
  color: white;
}

.contents {
  margin-left: 1em;
  height: calc(100vh - 4em);
  overflow-y: auto;
}

.tile {
  width: 3em;
  height: 3em;
  display: block;
}

.imageCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.actionTable {
  border-collapse: collapse;

  & > tbody {
    & > :not(:first-child) {
      & > * {
        border-left: 1pt solid white;
        border-right: 1pt solid white;
      }
    }
  }
}

.actionTile {
  max-width: 9em;
}

.cell {
  text-align: center;
  padding-bottom: 1em;
}

.title {
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}

.actionDividerRow {
  border-bottom: 1pt solid white;
}

.regionIcon {
  background-color: black;
}
